<div class="container middle_section">
  <h5>
    Please inform your New Code to merge the account
  </h5>
  <div>
    <%= form_tag( merge_new_professor_account_path, :method => :post ) do %>
      <div><%= label_tag :code %>
        <%= text_field_tag :code %>
      </div>
      <%= submit_tag "Submit",class:"btn btn-normal" %>
    <% end %>
  </div>
</div>



