<div class="align-center col-md-5">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <% if @user_role=="student"%>
        <h5 class="panel-title " >Student SignUp</h5>
      <% elsif @user_role=="parent" %>
        <h5 class="panel-title " >Parent SignUp</h5>
      <% elsif @user_role=="professor" %>
        <h5 class="panel-title " >Professor SignUp</h5>
      <% end %>  
    </div>
    <div class="panel-body">
      <% if @user_role == 'student' %>
        <%= render "student_signup_form" %>
      <% elsif @user_role == 'parent' %>
        <%= render "parent_signup_form" %>
      <% elsif @user_role == 'professor' %>
        <%= render "professor_signup_form" %>
      <% end %>  
      <%= render "devise/shared/links" %>
        
    </div>
  </div>
</div>

<script>

  function validate_form()
  { 
    if($('#user_password').val()!=$('#user_password_confirmation').val()){
      alert('Password not matches');
      return false;
     }
    return true;
  }
  //$('.datepicker').datepicker()
</script>
