<div class="alignment">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h5 class="panel-title " >Signup As Student</h5>
    </div>
    <div class="panel-body">
      
    </div>
  </div>
</div>

