<h4>School Admin Dashboard</h4>
<div>
  <div class="icon_container span">
    <div>
      <%= link_to image_tag ("circle.png"), {:action => '#'} %>
    </div>
    <b class="icon_title">Analytics</b>
    <div>Description for Analytics Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
  </div>
  <div class="icon_container span">
    <div>
      <%= link_to image_tag ("circle.png"), {:action => '#'} %>
    </div>
    <b class="icon_title">Grades</b>
    <div>Description for Analytics Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
  </div>
  <div class="icon_container span">
    <div>
      <%= link_to image_tag ("circle.png"), {:action => '#'} %>
    </div>
    <b class="icon_title">Users</b>
    <div>Description for Analytics Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
  </div>
  <div class="icon_container span">
    <div>
      <%= link_to image_tag ("circle.png"), {:action => '#'} %>
    </div>
    <b class="icon_title">E-mails</b>
    <div>Description for Analytics Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
  </div>
</div> 
