<div class='loading'>
  <%= image_tag('loading.gif')%>
</div>  
<div class="span11">
  <% if current_student || current_parent || current_school_administration %>
    <%= render partial:"student_parent_dashboard"%>
  <% end %>
</div>  
