<div class="alignment">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h5 class="panel-title " >First Access</h5>
    </div>
    <div class="panel-body">
      <%= link_to "I'm a Student", new_registration_with_cpf_users_path(:role=>"student"), :class=>"btn" %>
      <%= link_to "I'm a Parent", new_registration_with_cpf_users_path(:role=>"parentt"), :class=>"btn" %>
    </div>
  </div>
</div>

