<div class="row">
  <div class="login-main-box">
    <h2>First Access</h2>
    <div class="row forgot-pass">
      <div class="col-md-12 col-sm-11 col-xs-12 padd_none define_role">
        <%= link_to t("users.sign_up.i_am_a_student"), new_registration_with_code_users_path(:role=>"student") %>
        <%= link_to t("users.sign_up.i_am_a_parent"), new_registration_with_code_users_path(:role=>"parent") %>
        <%= link_to t("users.sign_up.i_am_a_professor"), new_registration_with_code_users_path(:role=>"professor") %>
      </div>
    </div>
  </div>  
</div>




