<div class="alignment">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h5 class="panel-title " >Import Grade List</h5>
    </div>
    <div class="panel-body">
      <%= form_tag import_grade_csv_admin_school_path(id: params[:id]), multipart: true do %>
        <%= file_field_tag :file, :required => true %>
        <%= submit_tag "Upload" %>
      <% end %>
    </div>
  </div>
</div>

