<div class="alignment">
  <div class="panel panel-normal">
    <div class="panel-heading">
      <h5 class="panel-title">Add New school</h5>
    </div>
    <div class="panel-body">
      <%= form_for @school do |f| %>
        <div class="control-group">
          <lable>Name</lable>
          <%= f.text_field :name, :class => 'text_field', :placeholder => "Name" %></br>
          <%= f.submit "Create", :class => 'btn btn-primary'%>
        </div>
      <% end %>  
    </div>  
  </div>
</div>        
