<div class="container">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h5 class="panel-title " >
        <%= t('parents.ask_question.are_you_responsible_for') %>Are you responsible for <%= @student.student_name%>?
      </h5>
    </div>
    <div class="panel-body">
      <%= link_to t("parents.ask_question.yes"), add_student_parents_path(cpf: @cpf), :class=>"btn" %>
      <%= link_to t("parents.ask_question.no"), new_student_parents_path, :class=>"btn" %>
    </div>
  </div>
</div>

