<div class="alignment">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h5 class="panel-title " >
        Are you responsible for <%= @student.student_name%>?
      </h5>
    </div>
    <div class="panel-body">
      <%= link_to "Yes", add_student_parents_path(cpf: @cpf), :class=>"btn" %>
      <%= link_to "No", new_student_parents_path, :class=>"btn" %>
    </div>
  </div>
</div>

