/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 */
 
 
.move_div_down {
  margin-top: 80px;
}
 
.nav_header {
  margin-top: -52px;
  width: 775px !important;
}

.nav_header_icon {
  font-size: 14px;
}

.user_name { 
  float: right;
  margin-top: -18px;
}

input[type]
{
  height: 0% !important;
}
