// Place all the styles related to the professors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested_form_attribute{
  background-color: graytext
}
.div_align{
  float:left;
}
.new_professor select{
 width: 155px !important;
}
.new_professor select, .new_professor label:last-child, .new_professor input{
 margin-left:2% !important;
}

