// Place all the styles related to the school_administrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.set_filter_size {
  width: 100px;
}

#submit_filters, #submit_parent_filters {
  display: none;
}

#submit_filters, #submit_professor_filters {
  display: none;
}
.move-right{
  float:right
}

.column_width{
  width:1%;
}
#show_professor_list table td:nth-child(6), #show_professor_list table td:nth-child(7), #show_professor_list table td:nth-child(8){
  border:none;
} 