// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alignment {
  width:500px; 
  margin:0 315px;
  background-color:#D2D2D4;
  padding:20px;
}

#date_month {
  width: 100px;
}

#date_year {
  width: 100px;
}

.move_right {
  float: right;
}

.move_down {
  margin-top: 25px;
}
.set_background_gray {
  background-color: #D3D3D3;
}

.icon_title {
  padding-left: 76px;
}

.icon_container {
   margin-left: 46px;
   margin-top: 50px;
   width: 230px;
}

label{ 
  display:inline-flex; 
} 
